<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/introduce-page/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");
    </style>
    <title>나를 소개합니다!</title>
  </head>
  <body>
    <div id="nav">
      <a href="">Contact</a>
      <a href="#h1">About</a>
      <a href="https://xcc629.github.io/"> > Go to Study Blog🌱 </a>
    </div>
    <div id="header-text">
      <div id="h1">
        <h1>About</h1>
      </div>
      <p>재미있는 것을 만들고 싶은</p>
      <p><strong>예비 개발자 임근홍</strong>입니다.</p>
      <div id="Infobox">
        <img src="/assets/img/profile.png" alt="" width="80px" />
        <div class="info">
          <p>WECODE Fullstack 4기</p>
          <p>1998.06.29</p>
          <p>MBTI: ESTJ</p>
        </div>
        <div id="like-box">
          <h3>LIKE</h3>
          <div id="likes">
            <span>GAME</span>
            <span>MUSIC</span>
            <span>BOOK</span>
            <span>FOOD</span>
          </div>
        </div>
      </div>
    </div>
    <div id=""></div>
  </body>
  <script src="/assets/js/introduce-page/script.js"></script>
  <script src="/assets/js/introduce-page/background.js"></script>
</html>
