div#nav a:first-child {
  margin-right: 15%;
}

div#nav a:last-child {
  float: left;
  margin-left: 10%;
}

div#nav a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  float: right;
  margin-right: 3em;
}

div#nav {
  text-decoration: none;
  height: 50px;
  padding-top: 2em;
  background-color: black;
  opacity: 90%;
}

#backGround {
  position: absolute;
  top: 0;
  left: 0;
  min-height: auto;
  min-width: 1200px;
  width: 100%;
  height: 100%;
  z-index: -5;
  object-fit: cover;
}

body {
  margin: 0;
}
