div#nav a:first-child {
  margin-right: 15%;
}

div#nav a:last-child {
  float: left;
  margin-left: 10%;
}

div#nav a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  float: right;
  margin-right: 3em;
}

div#nav a:hover {
  font-size: 18px;
  transition: 0.3s;
  color: rgb(100, 255, 86);
}

div#nav {
  text-decoration: none;
  height: 50px;
  padding-top: 2em;
  background-color: black;
  opacity: 90%;
  position: sticky;
  top: 0px;
}

div#h1 h1 {
  justify-content: center;
  display: flex;
  font-size: 50px;
  margin-top: 700px;
  margin-bottom: 0;
  padding-top: 200px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

div.info {
  width: 200px;
  margin: auto;
  padding: 20px;
}

div#Infobox {
  margin-top: 200px;
  border-top: 1px solid rgba(128, 128, 128, 0.233);
  padding-top: 100px;
}

div#header-text img {
  display: flex;
  margin-top: 50px;
  margin: auto;
  background: beige;
  border-radius: 10px;
}

div#likes div {
  margin: auto;
  padding-top: 20px;
  height: 200px;
  min-width: 150px;
  width: 22%;
  color: #363630;
  background-color: #f5f5dc;
  border-radius: 2em;
}

div#likes {
  display: inline;
  justify-content: flex-start;
}

div#like-box h3 {
  margin-bottom: 40px;
}

div#like-box * {
  justify-content: center;
  display: flex;
  font-family: "Hahmlet", serif;
  margin: 0px;
}

div#like-box {
  margin-top: 50px;
}

div#header-text p {
  justify-content: center;
  display: flex;
  font-family: "Hahmlet", serif;
  margin: 0px;
}

div#header-text {
  background-color: rgb(255, 255, 255);
  height: 1200px;
}

div#contact-text {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 150px;
}

div#contact-icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

div#contact-icons a:nth-child(2) img {
  background-color: white;
  border-radius: 30px;
}

div#Contact img {
  width: 50px;
  margin: 1.5rem;
}

div#contact-email p {
  color: rgba(255, 255, 255, 0.589);
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

div#bouncebox {
  margin-top: 200px;
  margin-bottom: 100px;
}

div#bouncebox > a img {
  display: flex;
  margin: auto;
  filter: blur(4px);
  background-color: rgba(240, 248, 255, 0.26);
  border-radius: 3rem;
}

div#bouncebox > a img:hover {
  filter: blur(0px);
  background-color: rgba(240, 248, 255, 0.479);
  width: 60px;
}

.i {
  position: relative;
  /* 파폭 */
  -moz-animation: bounce 2s infinite linear;
  /* 크롬 */
  -webkit-animation: bounce 2s infinite linear;
  -o-animation: bounce 2s infinite linear;
  animation: bounce 2s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#backGround {
  position: absolute;
  top: 0;
  left: 0;
  min-height: auto;
  min-width: 500px;
  width: 100%;
  height: 700px;
  z-index: -5;
  object-fit: cover;
}

body {
  margin: 0;
  height: 2800px;
  background-color: rgba(0, 0, 0, 0.959);
}

html {
  scroll-behavior: smooth;
}
